server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /data/promtail/positions.yaml

clients:
  - url: http://127.0.0.1:3100/loki/api/v1/push

scrape_configs:
- job_name: unraidsyslog
  static_configs:
  - targets:
      - localhost
    labels:
      job: unraidsyslog
      __path__: /rootfs/var/log/syslog
